.profile-row {
    width: 100%;
    height: auto;
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.profile-img {
  width: 40%;
  height: 440px;
  border-radius: 12px;
  overflow: hidden;
}

.profile-img img{
    object-fit: cover;
}

.profile-content {
  width: 60%;
}

.profile-content_title {
  font-size: 42px;
  line-height: 120%;
}

.profile-content_subtitle {
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-top: 24px;
  line-height: 120%;
}

@media screen and (max-width: 740px) {
  .profile-content{
    display: flex;
    flex-direction: column;
  }
  .profile-row{
    flex-direction: column;
    align-items: center;
  }
  .profile-img{
    width: 80%;
    height: 300px;
  }
  .profile-content_title{
    text-align: left;
    font-size: 24px;
  }
  .profile-content_subtitle{
    text-align: left;
    font-size: 14px;
  }
}
