.portfolio {
  margin-top: 44px;
}

.portfolio-title {
  font-size: 54px;
  line-height: 120%;
  margin-bottom: 24px;
}

.portfolio-row {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio-item {
  width: 100%;
  float: left;
  height: auto;
  background: #f1f1f1;
}

.portfolio-item_content {
  padding: 12px;
}

.portfolio-item_title {
  margin-top: 16px;
  font-size: 20px;
}
.portfolio-item_subtitle {
  margin-top: 12px;
  font-size: 16px;
}

@media (max-width: 440px) {
  .portfolio-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
